body {
    text-align: center;
}
h1 {
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-weight: 500;
    padding-left: 300px;
    padding-right: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: large;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
    font-size: large;
    font-weight: 500;
}

